genlayer-py @ git+https://github.com/genlayerlabs/genlayer-py@v0.18
genlayer-test @ git+https://github.com/genlayerlabs/genlayer-testing-suite@v0.29
genvm-linter @ git+https://github.com/genlayerlabs/genvm-linter@main
pytest>=8.3,<9
python-dotenv>=1.0.1

